.heading_topic{
    color: rgb(218, 20, 20);
}

.text_image_and_result{
    height: 500px;
    width: 1000px;
    margin-left: 200px;
    background-color: gray;
    border-radius: 15px;
}

.V{
    background-color: white;
    border-radius: 15px;
}

.test_img{
   margin-top: 30px;
   border-radius: 13px; 
}

.copy_right_footer{
    position: fixed;
    bottom:0;
    color:white;
    background-color: goldenrod;
    width: 100%;
    line-height: 3;
    text-align: center;
}